{% extends "base.html" %}

{% block title %}
Relecloud - Destinations
{% endblock title %}

{% block content %}
    <h1>Relecloud Destinations</h1>

    <ul class="list-group">
    {% for destination in destinations %}
        <a class="list-group-item list-group-item-action" href="{% url 'destination_detail' destination.id %}">
            {{ destination }}
            {% if destination.imagen %}
                <img src="{{ destination.imagen.url }}" alt="{{ destination.name }}" style="width: 30px; height: 30px;">
            {% endif %}
        </a>
    {% endfor %}
    </ul>
{% endblock content %}
