<!-- templates/tu_app/opiniones.html -->

{% extends "base.html" %}

{% block title %}
    Relecloud - Opiniones
{% endblock title %}

{% block content %}
    <h1>Deje su opinión</h1>

    <!-- Mostrar opiniones existentes -->
    <a href="{% url 'opiniones' %}">Ir a Opiniones</a>

    {% for opinion in opinions %}
        <p>{{ opinion.nombre }} dijo: {{ opinion.comentario }}</p>
    {% endfor %}

    <!-- Formulario para nueva opinión -->
    <form method="post" class="form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Enviar opinión</button>
    </form>
{% endblock content %}
